body{
    display: flex;
    overflow: hidden;
}
canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    background-image: linear-gradient(to right top, #5f27cd, #6133d2, #633dd7, #6547dc, #6850e1, #4d69ef, #2d7ff9, #0092ff, #00b1ff, #00cdff, #00e5fd, #5ffbf1);
}
